@font-face {
  font-family: 'Bloodletter Regular';
  src: url('../fonts/Bloodletter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Carta Marina';
  src: url('../fonts/674.woff2') format('truetype');
}

html {
  margin: 0;
  padding: 0;
  /* height: 100%; */
  cursor: url('../media/img/vieeye.png'), auto;
  height: 100lvh;
  width: 100lvw;
  overflow: hidden;
  background-color: #323232;
  background-image: url('../media/img/bg dithered.jpg');
  background-position: center;
  background-repeat: repeat;
  // background-blend-mode: overlay;
}

ul,
li,
a {
  all: unset;
}
