.navigator {
  // overflow-y: hidden;
  ul {
    margin-top: 360px;
    display: flex;
    justify-content: space-between;
    padding: 0 20em 0 20em;

    .nav-list-item {
      font-size: 1.5em;
      position: relative;

      .navlink {
        &:hover {
          cursor: url('/media/img/cursor-open-55.png'), pointer;
          transition: 2s;
          // border: solid 1px red;
          filter: blur(3px) brightness(120);
          transform: scale(1.25);
        }

        &__moribund {
          &:hover {
            &::before {
              content: '';
              // filter: blur(0) brightness(0);
              width: 100px;
              height: 100px;
              position: absolute;
              // bottom: -30px;
              // left: 0;
              user-select: none;
              z-index: -1;
              background-image: url('/media/img/progression/1.png');
              background-position: center;
              background-repeat: no-repeat;
              background-size: contain;
            }
          }

          &--disabled {
            filter: brightness(0.3);
            user-select: none;
            pointer-events: none;

            &:hover {
              cursor: url('/media/img/cursor-55.png'), pointer;
              transition: 2s;
              // border: solid 1px red;
              filter: blur(3px) brightness(0.3);
              // transform: scale(1.25);

              &::before {
                content: '';
                filter: blur(0) brightness(0);
                width: 100px;
                height: 100px;
                position: absolute;
                // bottom: -30px;
                // left: 0;
                z-index: -1;

                background-image: none;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
              }
            }
          }
        }

        &__tribulation {
          &:hover {
            &::before {
              content: '';
              // filter: blur(0) brightness(0);
              width: 100px;
              height: 100px;
              position: absolute;
              // bottom: -30px;
              // left: 0;
              user-select: none;
              z-index: -1;
              background-image: url('/media/img/progression/2.png');
              background-position: center;
              background-repeat: no-repeat;
              background-size: contain;
            }
          }

          &--disabled {
            filter: brightness(0.3);
            user-select: none;
            pointer-events: none;

            &:hover {
              cursor: url('/media/img/cursor-55.png'), pointer;
              transition: 2s;
              // border: solid 1px red;
              filter: blur(3px) brightness(0.3);
              // transform: scale(1.25);

              &::before {
                content: '';
                filter: blur(0) brightness(0);
                width: 100px;
                height: 100px;
                position: absolute;
                // bottom: -30px;
                // left: 0;
                z-index: -1;

                background-image: none;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .navigator {
    margin-top: 150px;

    ul {
      flex-direction: column;
      margin-top: 20px;
      justify-content: center;
      padding: 0;

      li {
        margin-top: 10px;
      }
    }
  }
}
